[submodule "chrome-extension"]
	path = chrome-extension
	url = git@github.com:d-party/d-party-Chrome-Extensions.git
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:d-party/d-party-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = git@github.com:d-party/d-party-Frontend.git
	branch = main
